/*.change-password-container {*/
/*  max-width: 400px;*/
/*  margin: auto;*/
/*  padding: 20px;*/
/*}*/

/*.full {*/
/*  width: 100%;*/
/*}*/

/*.error {*/
/*  color: #b00020;*/
/*  margin-bottom: 10px;*/
/*}*/

/*.success {*/
/*  color: green;*/
/*  margin-bottom: 10px;*/
/*}*/
